<footer class="site-footer">
  <p class="site-info">
    <img src="https://suven.visualstudio.com/imsuven/_apis/build/status/IMSUVEN.suven.github.io?branchName=master" />
    </br>
    Proudly powered by <a href="https://hexo.io/" target="_blank">Hexo</a> ·
    Theme by <a href="https://github.com/CodeDaraW/Hacker" target="_blank">Hacker</a>
    </br>
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
  </p>
</footer>